<% include partials/header%>
<div class="col-md-5">
    <h4>Deliveries Migration</h4>
    <div class="card">
        <div class="card-body">
                
        </div>
    </div>
</div>
<% include partials/footer%>